@font-face {
  font-family: 'Bolivia';
  src: url(../../../../fonts/BodoniBook.ttf) format('truetype');
}
@font-face {
  font-family: 'Apex';
  src: url(../../../../fonts/ApexNewLight.ttf) format('truetype');
}
.memorias-two .kids {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.memorias-two .kids-body {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.memorias-two .ext p {
  font-family: 'Bell', 'sans-serif';
}
.memorias-two h3 {
  font-family: 'Apex', 'sans-serif';
}
.memorias-two .ext svg {
  color: black;
  font-size: 42px;
}
.memorias-two .ext svg:nth-child(3) {
  font-size: 60px !important;
}
.memorias-two .header-img {
  height: 33% !important;
  height: 7rem;
}
.memorias-two h3 input[type='text'] {
  font-family: 'Apex', 'sans-serif';
  text-align: left;
  width: 100px;
}
.memorias-two h4 input[type='text'] {
  text-align: left;
  width: 120px;
}
.memorias-two h1 {
  font-family: 'Bolivia', 'sans-serif';
}
.memorias-two h1 input[type='text'] {
  width: 200px;
}
.memorias-two label {
  color: white;
}
.memorias-two .one > div:hover label {
  display: block !important;
}
