@font-face {
  font-family: 'ApexNewBold';
  src: url(../../../fonts/ApexNewBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Bacalisties';
  src: url(../../../fonts/Bacalisties.ttf) format('truetype');
}
@font-face {
  font-family: 'Bollivia';
  src: url(../../../fonts/BolliviaRosillaDemo.ttf) format('truetype');
}
.kids {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.kids-body {
  display: flex;
  justify-content: center;
}

.kids-uno h3,
.kids-uno p {
  font-family: 'ApexNewBold', 'sans-serif';
  color: #a48b7c;
}
.kids-uno h1 {
  font-family: 'Bacalisties', 'serif';
  color: #a48b7c;
}
.kids-uno .header-img {
  height: 350px;
}
.kids-uno h1 input[type='text'] {
  text-align: center;
  font-family: 'Bacalisties', 'serif';
}
.kids-uno h3 input[type='text'],
.kids-uno p input[type='text'] {
  text-align: center;
  font-family: 'ApexNewBold', 'sans-serif';
}
