@font-face {
  font-family: 'Barlow';
  src: url(../../../../fonts/Barlow-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Apex';
  src: url(../../../../fonts/ApexNewLight.ttf) format('truetype');
}
.kids {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.kids-body {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.aventura-three .ext p {
  font-family: 'Bell', 'sans-serif';
}
.aventura-three h3 {
  font-family: 'Apex', 'sans-serif';
}
.aventura-three h4 {
  font-family: 'Barlow', 'sans-serif';
}
.aventura-three .ext svg {
  color: black;
  font-size: 42px;
}
.aventura-three .ext svg:nth-child(3) {
  font-size: 60px !important;
}
.aventura-three .header-img {
  height: 33% !important;
  height: 7rem;
}
.aventura-three .kids-uno h1 input[type='text'] {
  text-align: center;
  font-family: 'Bacalisties', 'serif';
}
.aventura-three h3 input[type='text'] {
    font-family: 'Apex', 'sans-serif';
}

.aventura-three label {
  color: white;
}
.aventura-three .one > div:hover label {
  display: block !important;
}
